Django==1.4.3
South==0.7.6
argparse==1.2.1
dj-database-url==0.2.1
django-extensions==0.9
-e git://github.com/toastdriven/django-tastypie.git#egg=tastypie
ffs==0.0.7.1
gunicorn
mimeparse==0.1.3
python-dateutil==1.5
requests==0.14.1
six==1.2.0
wsgiref==0.1.2
#-e git://github.com/mysociety/mapit.git#egg=mapit
#-e git://github.com/minism/django-tastypie-swagger.git@d153f779b8898fe7fd449e5edaded4343adcd69f#egg=django_tastypie_swagger-dev
django-mapit==1.0.0pr2
-e git://github.com/davidmiller/django-tastypie-swagger.git#egg=django_tastypie_swagger-dev
werkzeug==0.8.3
psycopg2
