<!DOCTYPE html>
<html dir="ltr" lang="en-GB">
    <head>
      <title>Open Prescribing{% block extratitle %}{% endblock %}</title>
      {% block extrastyles %}{% endblock %}
      {% include 'head.html' %}
      {% block extratemplates %}{% endblock %}
    </head>
    <body class="home page page-id-82 page-template-default custom-background">
        <div id="container">
            <div id="header">
                <div class="inside clearfix">
                  {% include 'nav.html' %}
                </div>
            </div>
        </div>

        <div id="main" class="clearfix">
            <div id="content">
                <div class="post-82 page type-page status-publish hentry clearfix box">
                  {% block content %}{% endblock %}
                </div>
            </div>
            <div id="footer">
              {% block footer %}

            {% endblock %}</div>
        </div>

        {% block extrascripts %}{% endblock %}

    </body>
</html>
