{% extends 'baser.html' %}

{% block extratemplates %}
  {% include 'must/explore_layout.html' %}
  {% include 'must/explore_controls.html' %}
  {% include 'must/explore_results.html' %}
  {% include 'must/drug_select_item.html' %}
  {% include 'must/map_placeholder.html' %}
{% endblock %}

{% block content %}
  <h1>
    Explore NHS Prescription data
  </h1>

  <h2>
    O.K. - now what do I do?
  </h2>

  <p>
    We've built a few visualisation tools to help you ask interesting
    questions about prescribing in the UK...
  </p>

  <div class="left span350">
    <a href="{% url explorecompare %}">
      <h3>Compare relationships</h3>
    </a>
    <p>
      What does the breakdown of inhaler prescriptions with
      HFC/Dry powder systems look like by CCG?
    </p>
    <p>
      How much are we spending on branded statins vs generics?
    </p>
  </div>

  <div class="left span350">
    <a href="{% url exploredrug %}">
      <h3>Explore individual drugs</h3>
    </a>
    <p>
      How does prescribing of Salbutamol per capita vary by CCG?
    </p>
  </div>
{% endblock %}
