        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Open Prescribing{% block extratitle %}{% endblock %}</title>

        <link rel="canonical" href="http://prescriptions.openhealthcare.org.uk/" />
        <link rel="shortcut icon" href="{{STATIC_URL}}/img/favicon.png" />
        <link rel="next" title="About this site" href="/about" />

        <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />

        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold" />

        <link rel="stylesheet" href="{{STATIC_URL}}/css/inktheme.css" type="text/css" media="screen" />
        <link rel="stylesheet" id="superfish-css" href="{{STATIC_URL}}/css/superfish.css" type="text/css" media="all" />
        <!--[if IE 7]><link rel="stylesheet" href="{{STATIC_URL}}css/ie7.css" type="text/css" media="screen" /><![endif]-->
        <!--[if IE 8]><link rel="stylesheet" href="{{STATIC_URL}}css/ie8.css" type="text/css" media="screen" /><![endif]-->

        <link rel="stylesheet" href="{{STATIC_URL}}/css/leaflet.css" type="text/css" media="all" />
        <!--[if lte IE 8]><link rel="stylesheet" href="{{STATIC_URL}}css/leaflet.ie.css" /><![endif]-->

        <link rel="stylesheet" id="app-css" href="{{STATIC_URL}}/css/app.css" type="text/css" media="all" />

        <!-- 3rd party Javascript libraries -->
        <script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/lib/underscore.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/lib/backbone.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/lib/backbone.marionette.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/lib/leaflet.js"></script>


        <!-- Our Javascripts -->
        <script type="text/javascript" src="{{STATIC_URL}}js/prescribing.js"></script>

