{% extends 'baser.html' %}
{% block content %}
  <h1>Open Prescriptions</h1>
  <h2></h2>
  <div>
    <p>

    </p>
    <h2>
      <a href="/research/inhaler">
        Campaign to change inhaler prescribing patterns
      </a>
    </h2>
    <p>
      The continued use of metered-dose inhalers in respiratory care will have a potentially
      catastrophic effect on global warming if production is not controlled 2, largely because these
      inhalers use potent green-house gas hydroflourocarbons (HFCs) as propellants.
      <br/>
      <a href="/research/inhaler">
        Read more...
      </a>
    </p>

  </div>
{% endblock %}
