{% extends 'baser.html' %}
{% block content %}
  <h1>
    Campaign to change inhaler prescribing patterns
  </h1>
  <h2>
    <a href="www.sustainablehealthcare.org.uk">
      Centre for Sustainable Healthcare 2013
    </a>
  </h2>
  <h3>
    Unintended consequences of respiratory care
  </h3>
  <div>
    <p>
      The continued use of metered-dose inhalers in respiratory care will have a potentially
      catastrophic effect on global warming if production is not controlled 2, largely because these
      inhalers use potent green-house gas hydroflourocarbons (HFCs) as propellants. A cost-
      effective and safe alternative is available in the form of Dry Powder Inhalers (DPIs), and we
      call for clinicians and patients to prescribe and request Dry Powder Inhalers in preference to
      inhalers using hydroflourocarbon propellants unless clinically contra indicated.
    </p>
  </div>
  {% include 'inhaler_map.html' %}
  <div>
    <h3>
      Background
    </h3>
    <p>
      The World Health Organisation (WHO) estimates that hundreds of millions of people suffer
      from chronic respiratory diseases3. These diseases cannot be cured, but can be controlled
      using drugs, many of which are delivered by inhalers. The “press-and-breathe” metered
      dose inhaler (MDI) was introduced in 1956 and is generally credited as being the first
      inhaler. In this device the drug is dissolved or suspended in a propellant under pressure.
      When activated, a valve system releases a metered volume of drug and propellant.
    </p>
    <p>
      The original MDIs contained chlorofluorocarbons (CFCs) as a propellant. With the
      implementation of the 1987 Montreal Protocol4 on ozone depletion, the pharmaceutical
      companies worked in good faith to produce two CFC alternatives: MDI inhaler devices using
      hydrofluorocarbons (HFCs) as a propellant, and Dry Powder Inhalers (DPIs) that did not
      require a propellant.
    </p>
    <p>
      Although not ozone depletion gases, the HFCs developed to replace CFCs (used in
      refrigeration, air conditioning and MDIs) are powerful greenhouse gases that contribute to
      global warming. As the main alternative to CFCs, HFC production is increasing rapidly (from
      300 000 tonnes/year currently to a projected 900 000 tonnes/year by 2018).
    </p>
    <p>
      WHO ref: http://www.who.int/respiratory/about_topic/en/index.html
      The Montreal Protocol on Substances that Deplete the Ozone Layer, http://ozone.unep.org/new_site/en/
      montreal_protocol.php, last accessed Sept 4th 2012
    </p>
    <p>
      Alternatives to HFCs, such as ammonia and carbon dioxide, are now available for air
      conditioning and refrigeration, but are not suitable for MDIs. Current HFC use in MDIs is
      about 9000 tonnes (about 3% of total use).
    </p>
    <p>
      This is critical because the implementation of the proposed HFC controls over the next
      40 years could save the equivalent of 70–90 gigatonnes of carbon dioxide, comparable to
      burning all of the world’s oil.
    </p>
    <p>
      At current levels 3% or the equivalent of 2.1 to 2.7 gigatonnes of CO2 would be due to MDI
      inhaler use, and this doesn’t include the increase in prevalence of asthma and COPD.
    </p>
    <h3>
      Clinican & Patient FAQs
    </h3>
    <h4>
      Are DPIs are as effective as MDIs?
    </h4>
    <p>
      Yes, systematic reviews have found no evidence of differences in effectiveness.
    </p>
    <h4>
      Are DPIs preferred by patients?
    </h4>
    <p>
      Yes, several randomised trials have found that DPIs are preferred and compliance is increased.
    </p>
    <h4>
      Can DPIs be used by the sickest patients and the very young?
    </h4>
    <p>
    No, the very young and very ill cannot use DPIs. DEFRA estimated that 25% will continue to use MDIs.
    </p>
    <h4>
      Are DPIs more expensive than MDIs?
    </h4>
    <p>
      No. Although it is a complicated question DPIs in some circumstances are much less expensive.
    </p>
    <h3>
      How to effect change?
    </h3>
    <p>
      Unique to health services is that clinicians decide what to prescribe and therefore are
      in control. Patients come next – or are on par if they are knowledgeable and confident.
      Together front line physicians and patients have the power to control healthcare.
    </p>
    <p>
      We propose this campaign as a demonstration of the power of clinicians and patients to
      alter prescribing patterns to reduce harm.
    </p>
    <p>
      For the majority of inhaler users a safe and effective alternative to MDIs is already available.
      We believe what is needed is a campaign to change perceptions of clinical efficacy, user
      acceptability and usage, and ultimately prescribing behaviour. To this end we propose to
      convene a Summit of interested parties – from respiratory specialists to patient groups and
      GPs to environmentalists - in early in 2013. The purpose of the Summit is agree an overall
      strategy and organisational structure for managing the campaign. At the Summit too we would
      convene a forum of funders and agree targets, a timeframe and budget.
    </p>

{% endblock %}
