.left { float: left; }
.span350 { width: 350px; }

body.custom-background { background-image: url('/static/img/hexabump.png'); background-repeat: repeat;
background-position: top left; background-attachment: fixed; }

#mainNav ul a, #mainNav ul li.sfHover ul a { color: #8f8f8f !important;	}
	#mainNav ul li.current a,
	#mainNav ul li.current-cat a,
	#mainNav ul li.current_page_item a,
	#mainNav ul li.current-menu-item a,
	#mainNav ul li.current-post-ancestor a,
	.single-post #mainNav ul li.current_page_parent a,
	#mainNav ul li.current-category-parent a,
	#mainNav ul li.current-category-ancestor a,
	#mainNav ul li.current-portfolio-ancestor a,
	#mainNav ul li.current-projects-ancestor a {
		color: #2e2e2e !important;
	}
	#mainNav ul li.sfHover a,
	#mainNav ul li a:hover,
	#mainNav ul li:hover {
		color: #2e2e2e !important;
	}
	#mainNav ul li.sfHover ul a:hover { color: #2e2e2e !important;}

blockquote, address {
	border-left: 5px solid #cdb980;
}
#content #filterNav, #content .project.small .overlay, .f_circleG, .skillList li span a:hover, .tax-skill #pageHead { background: #cdb980;}
@-webkit-keyframes f_fadeG{
0%{background-color:#ffffff}
100%{background-color:#cdb980;}
}
@-moz-keyframes f_fadeG{
0%{background-color:#ffffff}
100%{background-color:#cdb980;}
}
@-o-keyframes f_fadeG{
0%{background-color:#ffffff}
100%{background-color:#cdb980;}
}
@-ms-keyframes f_fadeG{
0%{background-color:#ffffff}
100%{background-color:#cdb980;}
}

a { color: #3a8585;}
a:hover {color: #f1532f;}
.button, #searchsubmit, input[type="submit"] {background-color: #f1532f !important;}
.button:hover, #searchsubmit:hover, input[type="submit"]:hover {background-color: #78bc99 !important;}

.thanks {
    background-color: #a7daa7;
    padding: 6px;
    font-weight: bold;
}

.err {
    background-color: #f1532f;
    padding: 6px;
    font-weight: bold;
}

#map {
			width: 1200px;
			height: 700px;
		}

.info {
			padding: 6px 8px;
			font: 14px/16px Arial, Helvetica, sans-serif;
			background: white;
			background: rgba(255,255,255,0.8);
			box-shadow: 0 0 15px rgba(0,0,0,0.2);
			border-radius: 5px;
		}
		.info h4 {
			margin: 0 0 5px;
			color: #777;
		}

		.legend {
			text-align: left;
			line-height: 18px;
			color: #555;
		}
		.legend i {
			width: 20px;
			height: 18px;
			float: left;
			margin-right: 8px;
		}


		#content h3, #content h1, #content h2 {

		    color: #D7301F;
		    padding: 20px 30px;

		}


        #content h4 {
            color: #900;
		    padding: 20px 30px;

        }
        #content h4 a{
            color: #900;
        }
		#content p {
		    padding: 10px 30px;
		    font-size: 18px;
		}

#content img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
body #header {
    background-color: white;
}
#content {
    max-width: 1400px;
}
#explore-container {
    min-height: 1200px;
}

#explore-controls div.bucket {
    width: 350px;
    float: left;
    display: inline-block;
}

#explore-controls button {
    margin: 0 auto;
    clear: both;
    display: block;
}
